@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

body {
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgb(12, 212, 209),rgb(4, 72, 103));
}

html {
    font-size:62.5%;
}